* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.section h2 {
    color: black;
    font-size: 70px;
    letter-spacing: 2px;
}

#home {
    background-color: #ff7a00;
}

#service {
    background-color: #67ffe7;
}

#gallery {
    background-color: #ffa855;
}

#contact {
    background-color: #00ffa7;
}

.sidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: #414141;
}

.nav-item {
    position: relative;
}
.nav-item:not(:last-child) {
    margin-bottom: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-link i {
    width: 70px;
    height: 70px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #414141;
}

.nav-link .title {
    position: absolute;
    background-color: #414141;
    height: 100%;
    padding-right: 46px;
    padding-left: 30px;
    line-height: 70px;
    transform: translateX(-100%);
    transition: all 0.30s;
    z-index: -1;
}
.logo-item{
    background: center/cover no-repeat;
    height: 80%;
    width: 80%;
}

#item-one {
    filter: invert(75%);
}

#item-two {
    filter: invert(25%);
}

#item-three {
    filter: invert(75%);
}

#item-four {
    filter: invert(75%);
}

.nav-item:hover i {
    transform: scale(1.1);
    box-shadow: 0px 0 20px rgba(0, 0, 0, 0.8);
}

.nav-item:hover .title {
    transform :translateX(0);
}